#play-area{
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
    grid-gap: 15px;
    width: 90%;
    margin: auto;
}

.card{
    user-select: none
}